@import "../common/vars";
@import "../common/mixins";

.courses {
  position: relative;
  padding: 100px 0;

  .container {
    position: relative;
  }
}

.themes-slider {
  position: relative;
  height: 90px;
  margin: 50px 61px 0;
}

.themes-slider__wrapper {
  width: 100%;
  margin-top: auto;
}

.themes-slider__slide {
  display: flex;
  align-items: center;
  width: auto !important;
  padding: 8px 16px;
  background: #fff;
  border-radius: 100px;
  height: 43px;
  box-shadow: 0 30px 30px rgba(37, 65, 138, 0.05);

  > a {
    text-decoration: none;
    color: #B9C7D4;
    font-weight: 700;
    font-size: 17px;


    &.current {
      color: $blue;
    }
  }
}

.courses__tabs {
  font-size: 18px;
  display: flex;
  margin-bottom: 45px;
  overflow-y: hidden;

  > a {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    padding: 15.5px 30px;
    background: #fff;
    box-shadow: 0 30px 30px rgba(37, 65, 138, 0.05);
    border-radius: 10px;
    margin-right: 25px;
    color: rgba(185, 199, 212, 1);
    text-decoration: none;
    font-weight: 700;

    .quantity {
      background: rgba(185, 199, 212, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      color: #fff;
      font-weight: 700;
      border-radius: 4px;
      margin-left: 10px;
    }
  }

  > a.active {
    color: $blue;

    .quantity {
      background: $blue;
    }
  }
}

.slider-swiper-wrapper {
  position: relative;
}

.themes-slider-button-next, .themes-slider-button-prev {
  bottom: 47px;
}

.courses-slider {
  padding-bottom: 80px;
  position: relative;
}

.tabs__content {
  .courses-slider {
    opacity: 0;
    display: none;
  }

  .courses-slider.open {
    opacity: 1;
    display: block;

  }
}

.courses-slider__slide {
  text-decoration: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 30px 30px rgba(37, 65, 138, 0.05);
  padding: 30px 30px 43px;
  display: block;
  transition: all .5s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

  &:hover {
    box-shadow: 0 16px 32px rgba(26, 56, 132, 0.14);
  }

  .slide__img {
    width: 100%;
    height: 117px;
    margin-bottom: 30px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  > span {
    display: inline-block;
    font-size: 14px;
    color: $blue;
    padding: 5px 15px;
    background: $light-blue;
    border-radius: 10px;
    margin-bottom: 12px;
  }

  > div {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  > p {
    color: $secondary-color;
    margin-bottom: 20px;
  }

  .slide__info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    div {
      margin-bottom: 0;

      &:after {
        content: attr(data-star);
        color: $orange;
        font-size: 18px;
      }
    }

    p {
      display: flex;
      margin-left: auto;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 400;

      svg {
        margin-right: 6px;
      }
    }

    span {
      color: #12B90F;
      font-weight: 600;
      font-size: 20px;
      padding: 0;
      background: transparent;
      border-radius: 0;
      margin-bottom: 0;
      margin-left: 20px;
    }

  }

  .slide__icon {
    display: flex;
    margin-bottom: 20px;
    width: 44px;
    height: 44px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .slide__btn {
    display: flex;
    justify-content: space-between;

    * {
      width: 166px;
      min-width: 110px;
      height: 40px;

      &:first-child {
        margin-right: 20px;
      }
    }

  }
}

.courses__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .card {
    text-decoration: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 30px 30px rgba(37, 65, 138, 0.05);
    padding: 20px 20px 43px;
    display: block;
    transition: all .5s ease;
    margin-bottom: 40px;
    backface-visibility: hidden;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;


    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: white;
      backface-visibility: hidden;
      transform: rotateX(180deg);
    }

    &:hover {
      box-shadow: 0 16px 32px rgba(26, 56, 132, 0.14);
    }

    .card__img {
      width: 100%;
      height: 117px;
      margin-bottom: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    span {
      display: inline-block;
      font-size: 14px;
      color: $blue;
      padding: 5px 15px;
      background: $light-blue;
      border-radius: 10px;
      margin-bottom: 12px;
    }

    div {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 12px;
    }

    p {
      color: $secondary-color;
      margin-bottom: 20px;
    }

    .card__info {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      div {
        margin-bottom: 0;

        &:after {
          content: attr(data-star);
          color: $orange;
          font-size: 18px;
        }
      }

      p {
        display: flex;
        margin-left: auto;
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 400;

        svg {
          margin-right: 6px;
        }
      }

      span {
        color: #12B90F;
        font-weight: 600;
        font-size: 20px;
        padding: 0;
        background: transparent;
        border-radius: 0;
        margin-bottom: 0;
        margin-left: 20px;
      }

    }

    .card__icon {
      display: flex;
      margin-bottom: 20px;
      width: 44px;
      height: 44px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .card__btn {
      display: flex;
      justify-content: space-between;

      * {
        width: 166px;
        min-width: 110px;
        height: 40px;

        &:first-child {
          margin-right: 20px;
        }
      }

    }
  }
}

.courses__body.xl {
  .card {
    width: calc(33% - (60px / 3));
  }
}

.courses__body.md {
  display: none;

  .card {
    width: calc(50% - (30px / 2));
  }
}

.courses__body.sm {
  display: none;

  .card {
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .courses {
    padding: 70px 0;
  }
  .courses__body.xl {
    display: none;
  }
  .courses__body.md {
    display: flex;
  }
  .themes-slider {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .courses__body.md {
    display: none;
  }
  .courses__body.sm {
    display: flex;
  }
}

@media screen and (max-width: 575px) {
  .courses-slider__slide {
    padding: 20px 20px 43px;
  }
}