@import "../common/vars";
@import "../common/mixins";

.course-details {
  padding: 0 0 50px;
  z-index: 5;

  h3 {
    margin-bottom: 50px;
  }
}

.course-details__wrapper {
  margin: 30px 0;
}

.course-details__head {
  display: flex;
  position: relative;
  padding: 52px 0 53px;
}

.head__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.course-details__content {
  position: relative;
  width: 350px;

  > span {
    display: inline-block;
    font-size: 14px;
    color: $blue;
    padding: 5px 15px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 12px;
  }

  > h2 {
    font-size: 40px;
    line-height: 55px;
    font-weight: 700;
    color: $primary-color;
    margin-bottom: 12px;
  }

  > p {
    color: $primary-color;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .content__info {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    > div {
      margin-bottom: 0;

      &:after {
        content: attr(data-star);
        color: $orange;
        font-size: 18px;
      }
    }

    > p {
      display: flex;
      margin-left: auto;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 400;

      svg {
        margin-right: 6px;
      }
    }

    > span {
      color: $blue;
      font-weight: 600;
      font-size: 20px;
      padding: 0;
      background: transparent;
      border-radius: 0;
      margin-bottom: 0;
      margin-left: 20px;
    }

  }

  .content__btn {

    * {
      width: 100%;
      min-width: 110px;
      height: 50px;
    }
  }
}

.course-details__about {
  margin: 100px 0;

  p {
    color: $secondary-color;

    &:first-of-type {
      margin-bottom: 20px;
    }
  }
}

.course-details__speakers {
  h3 {
    margin-bottom: 50px;
  }

  .container > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .speakers {
    padding: 80px 75px;
  }

  .speaker {
    display: flex;
    align-items: center;
    width: calc(33.3333% - (90px / 3));
  }
}

.speaker__img {
  height: 129px;
  margin-right: 20px;
  width: 129px;
  flex: 0 0 129px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
}

.speaker__description {
  flex: 0 0 calc(100% - 129px - 20px);

  > span {
    display: block;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  > p {
    color: $primary-color;
    margin-bottom: 12px;
  }

  > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;

      span {
        color: $blue;
        font-size: 14px;
        margin-left: 8px;
      }
    }
  }

  > a {
    width: 100%;
    height: 40px;
  }
}

.course-details__schedule {
  margin: 100px 0;
}

.module {
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  .module__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    color: $blue;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    border-bottom: 1px solid #B9C7D5;
    padding-bottom: 20px;
    margin-bottom: 30px;

    svg {
      margin-left: 10px;
      flex: 0 0 16px;
      transition: all .4s ease;
    }
  }

  ul {
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: all .4s ease;

    li {
      margin: 15px 0;

      a {
        color: $primary-color;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        text-decoration: none;
      }
    }

    li.success {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        color: #34A360;
      }
    }

    li.current {
      a {
        font-weight: 600;
      }
    }
  }
}

.module.open {
  .module__title {
    svg {
      transform: rotate(180deg);
    }
  }
}

.course-details__reviews {
  padding: 80px 0;

}

.reviews-slider {
  position: relative;
  padding-bottom: 80px;
}

.reviews-slider__slide {
  padding: 30px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 30px 30px rgba(37, 65, 138, 0.05);
  transition: all .5s ease;
  display: flex;


  &:hover {
    box-shadow: 0 16px 32px rgba(26, 56, 132, 0.14);
    cursor: pointer;
  }

  div {
    &:first-of-type {
      img {
        width: 51px;
        height: 51px;
        border-radius: 100%;
      }
    }


    &:last-of-type {
      margin-left: 20px;

      span {
        display: block;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      q {
        font-size: 16px;
        color: $secondary-color;
      }
    }
  }
}

.course-details__faq {
  margin: 100px 0 20px;
}

.course-details__btn {
  .container {
    display: flex;
    justify-content: flex-end;

  }

  a {
    width: 251px;
    height: 50px;
  }
}

@media screen and (max-width: 1439px) {
  .course-details__speakers {
    .speakers {
      padding: 80px 20px;
    }

    .speaker {
      width: calc(33.3333% - (60px / 3));
    }
  }

  .speaker__img {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1240px){

  .course-details__speakers {
    .speaker {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }


  .speaker__img {
    margin-right: 0;
  }
  .speaker__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
      a {
        &:first-of-type {
          margin-right: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .course-details {
    padding: 0 0 70px;

    h3 {
      margin-bottom: 44px;
      font-size: 32px;
      line-height: 44px;
    }
  }
  .course-details__speakers {
    .container > div {
      display: flex;
      flex-direction: column;
    }

    .speakers {
      padding: 70px 20px;
    }

    .speaker {
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 50px;
      }
    }
  }
  .course-details__wrapper {
    margin: 30px 0 0;
  }
  .course-details__about {
    margin: 70px 0;
  }
  .course-details__schedule {
    margin: 50px 0;
  }
  .course-details__reviews {
    padding: 70px 0;
  }
  .course-details__faq {
    margin: 70px 0 0;
  }

  .speaker__description {
    > a {
      width: 237px;
    }
  }
}

@media screen and (max-width: 575px) {
  .course-details__content {
    width: 100%;
  }

  .course-details__btn {
    a {
      width: 100%;
    }
  }
}