@import "../common/vars";

.education {
  padding: 80px 0 150px;
}

.courses__list {
  list-style: none;

  li {
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 30px 30px rgba(37, 65, 138, 0.05);
    border-radius: 10px;
    padding: 25px;

    &:not(:last-of-type) {
      margin-bottom: 50px;
    }

    .card__img {
      flex: 0 0 300px;
      height: 150px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card__description {
      margin: 0 0 0 30px;
      flex: 0 0 350px;

      > span {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        display: block;
        margin-bottom: 12px;
      }

      > p {
        font-size: 16px;
        line-height: 22px;
        color: $secondary-color;
        margin-bottom: 20px;
      }

      .card__info {
        display: flex;
        justify-content: space-between;

        > div {
          margin-bottom: 0;

          &:after {
            content: attr(data-star);
            color: $orange;
            font-size: 18px;
          }
        }

        > p {
          display: flex;
          margin-left: auto;
          margin-bottom: 0;
          font-size: 16px;
          font-weight: 400;

          svg {
            margin-right: 6px;
          }
        }
      }
    }


    .card__progress {
      display: flex;
      justify-content: center;
      flex: auto;

      .progress-status {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 118px;
        height: 118px;
        position: relative;

        > span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 18px;
          line-height: 24px;
          font-weight: 700;
        }

        > svg {
          position: relative;

          .progress {
            transform-origin: center;
            transform: rotate(-90deg);
            transition: stroke-dashoffset .5s ease;
          }
        }
      }
    }

    .card__progress.not-finished {
      .progress-status {
        > span {
          color: $blue;
        }

        > svg {
          .progress {
            stroke: $blue;
          }
        }
      }
    }

    .card__progress.finished {
      .progress-status {
        > span {
          color: #34A360;
        }

        > svg {
          .progress {
            stroke: #34A360;
          }
        }
      }
    }

    .card__price {
      display: flex;
      align-self: flex-start;
      margin-left: 170px;
      margin-right: auto;
      flex: auto;

      span {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;

        &:nth-of-type(1) {
          display: none;
        }
      }
    }

    .card__btn {
      display: flex;
      align-self: flex-end;

      > a {
        width: 193px;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
      }

      > button {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
        background: white;
        border-radius: 10px;
        border: none;
        transition: opacity .3s ease;
        width: 24px;
        height: 24px;

        &:hover {
          cursor: pointer;
          opacity: .7;
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .courses__list {
    li {
      flex-wrap: wrap;
      position: relative;

      .card__img {
        flex: 0 0 100%;
        margin-bottom: 30px;
      }


      .card__description {
        flex: 0 0 40%;
        margin: 0;
      }


      .card__progress {
        flex: auto;
        margin-top: 30px;

      }

      .card__price {
        display: flex;
        align-self: flex-start;
        margin-left: 50px;
        margin-right: auto;
        flex: auto;

        span {
          font-size: 18px;
          line-height: 24px;
          font-weight: 700;

          > span {
            display: none;
          }
        }
      }

      .card__btn {
        margin-top: 30px;
        flex: 0 0 auto;
        justify-content: flex-end;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .education {
    padding: 30px 0 70px;
  }
  .courses__list {
    li {
      .card__price {
        margin: 30px 0 0 0;
        display: flex;
        justify-content: space-between;

        span {
          &:nth-of-type(1) {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .courses__list {
    li {
      flex-wrap: wrap;
      padding: 20px 20px 40px;

      .card__img {
        flex: 100%;
        margin-bottom: 40px;
      }


      .card__description {
        flex: 100%;
      }


      .card__progress {
        flex: 100%;
        margin: 50px 0 0 0;
      }

      .card__btn {
        margin-top: 50px;
        flex: 100%;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .courses__list {
    li {
      .card__btn {
        > a {
          width: 100%;
        }
      }
    }
  }
}