@import "../common/vars";
@import "../common/mixins";

.guidlines {
  padding-bottom: 150px;
}

.guidlines-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 30px;
}

.guidlines-self {
  width: calc((100% / 2) - (30px / 2));
  background: #FFFFFF;
  box-shadow: 0 30px 30px rgba(37, 65, 138, 0.05);
  border-radius: 10px;
  display: flex;
  min-height: 150px;
}

.guidlines-self-left {
  flex: 0 0 23.80%;
  background: #B9C7D5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0 0 10px;
}

.guidlines-self-middle {
  flex: 0 0 47.6%;
  margin-right: 25px;
  padding: 25px 0 20px 25px;

  span {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 700;
  }

  p {
    font-size: 14px;
    line-height: 1.25;
    color: $secondary-color;
  }
}

.guidlines-self-right {
  flex: 0 0 calc(100% - 47.6% - 23.80% - 25px);
  padding: 25px 15px 20px 0;
  display: flex;
  align-items: flex-end;

  a {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;

    span {
      font-size: 16px;
      font-weight: 400;
    }

    svg {
      flex: 0 0 17px;
      margin-left: 5%;
    }
  }
}

@media screen and (max-width: 1199px) {
  .guidlines-self {
    flex-wrap: wrap;
    width: calc((100% / 3) - (60px / 3));
  }

  .guidlines-self-left {
    flex: 0 0 100%;
    border-radius: 10px 10px 0 0;
    height: 100px;
  }
  .guidlines-self-middle {
    flex: 0 0 100%;
    margin: 0;
    padding: 20px;
  }
  .guidlines-self-right {
    flex: 0 0 100%;
    padding: 20px;

    a {
      justify-content: center;

      svg {
        margin-left: 20px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .guidlines {
    padding-bottom: 70px;
  }

  .guidlines-self {
    width: calc((100% / 2) - (30px / 2));
  }

  .guidlines-self-right {
    a {
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 575px) {
  .guidlines-self {
    width: 100%;
  }
}