.may-also-like {
  padding-bottom: 70px;

  .news-slider {
    .news-slider__wrapper {
      .news-slider__slide {
        height: 250px;
        padding: 30px 20px;
        .slide__content {
          margin-top: 57px;
        }
      }
    }
  }
}
