@import "../common/vars";

.our-speakers {
  position: relative;
  height: 100vh;

  .img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    .lg-img, .xl-img, .md-img, .sm-img {
      border-radius: 20px;
      filter: drop-shadow(0px 7px 50px rgba(29, 72, 182, 0.13));
      position: absolute;
    }

    .lg-img {
      width: 157px;
      height: 153px;
      animation: zoom-in 2750ms infinite;
    }

    .xl-img {
      width: 136px;
      height: 132px;
      animation: zoom-in 3250ms infinite;
    }

    .md-img {
      width: 116px;
      height: 114px;
      animation: zoom-in 2250ms infinite;
    }

    .sm-img {
      width: 74px;
      height: 72px;
    }

    img {
      &:nth-child(1) {
        top: 150px;
        left: 30.48vw;
      }

      &:nth-child(2) {
        top: 189px;
        left: 9.23vw;
      }

      &:nth-child(3) {
        top: 495px;
        left: 29.09vw;
      }

      &:nth-child(4) {
        top: 433px;
        left: 13.19vw;
        animation: zoom-in 2500ms infinite;
      }

      &:nth-child(5) {
        top: 321px;
        left: 24.44vw;
        animation: zoom-in 3500ms infinite;
      }

      &:nth-child(6) {
        top: 361px;
        left: 37.15vw;
        animation: zoom-in 3000ms infinite;
      }
    }
  }
}

.our-speakers__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .text {
    width: 50%;

    h2 {
      margin-bottom: 30px;
    }

    > span {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: $secondary-color;
      display: block;
      margin-bottom: 30px;
      max-width: 515px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 30px;
      max-width: 620px;
    }
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(.8);
    opacity: .8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 1399px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {
  .our-speakers {
    height: 100%;

    .page-section-bg {
      display: block;
    }

    .img {
      img {
        &:nth-child(1) {
          top: calc(50px * 1.6);
          right: 5.33vw;
          left: auto;
        }

        &:nth-child(2) {
          top: calc(76px * 1.6);
          left: 5.33vw;
        }

        &:nth-child(3) {
          top: calc(275px * 1.6);
          right: 25.33vw;
          left: auto;
        }

        &:nth-child(4) {
          top: calc(234px * 1.6);
          left: 15.2vw;
        }

        &:nth-child(5) {
          top: calc(161px * 1.6);
          left: 43.2vw;
        }

        &:nth-child(6) {
          top: calc(187px * 1.6);
          right: 12.53vw;
          left: auto;
        }
      }

    }
  }
  .our-speakers__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 590px;

    .text {
      width: 100%;

      > span {
        max-width: 100%;
      }

      p {
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .our-speakers {
    height: auto;

    .img {
      img {
        &:nth-child(1) {
          top: calc(50px * 1.3);
          right: 5.33vw;
          left: auto;
        }

        &:nth-child(2) {
          top: calc(76px * 1.3);
          left: 5.33vw;
        }

        &:nth-child(3) {
          top: calc(275px * 1.3);
          right: 25.33vw;
          left: auto;
        }

        &:nth-child(4) {
          top: calc(234px * 1.3);
          left: 15.2vw;
        }

        &:nth-child(5) {
          top: calc(161px * 1.3);
          left: 43.2vw;
        }

        &:nth-child(6) {
          top: calc(187px * 1.3);
          right: 12.53vw;
          left: auto;
        }
      }

      .lg-img {
        width: 102px;
        height: 100px;
      }

      .xl-img {
        width: 88px;
        height: 85px;
      }

      .md-img {
        width: 75px;
        height: 74px;
      }

      .sm-img {
        width: 49px;
        height: 47px;
      }
    }
  }
  .our-speakers__wrapper {
    padding-top: 450px;
  }
}

@media screen and (max-width: 575px) {
  .our-speakers {
    .img {
      img {
        &:nth-child(1) {
          top: 50px;
          right: 5.33vw;
          left: auto;
        }

        &:nth-child(2) {
          top: 76px;
          left: 5.33vw;
        }

        &:nth-child(3) {
          top: 275px;
          right: 25.33vw;
          left: auto;
        }

        &:nth-child(4) {
          top: 234px;
          left: 15.2vw;
        }

        &:nth-child(5) {
          top: 161px;
          left: 43.2vw;
        }

        &:nth-child(6) {
          top: 187px;
          right: 12.53vw;
          left: auto;
        }
      }
    }
  }
  .our-speakers__wrapper {
    padding-top: 406px;
  }
}