@import "src/scss/common/vars";
@import "src/scss/common/mixins";

.btn-blue {
  @include btn($blue, white, $blue, $blue, white);
  animation: button-shadow-1 2s ease-in-out infinite;
}

.btn-blue-def {
  @include btn(transparent, $blue, $blue, transparent, $blue);
  animation: button-shadow-1 2s ease-in-out infinite;
}

.btn-gray-def {
  @include btn(transparent, $secondary-color, $secondary-color, white, $blue);
  animation: button-shadow-2 2s ease-in-out infinite;
}

.btn-disable {
  @include btn(transparent, #B9C7D5, #B9C7D5, white, $blue);
  animation: button-shadow-3 2s ease-in-out infinite;
}

.btn-green {
  @include btn(#34A360, white, #34A360, #34A360, white);
  animation: button-shadow-4 2s ease-in-out infinite;;
}

